@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

body {
    @apply bg-neutral-200 text-neutral-800;
}

button,
a {
    @apply cursor-pointer;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(225, 225, 225);
}

*::-webkit-scrollbar-thumb {
    background: rgb(205, 205, 205);
    border-radius: 100vh;
}